<footer class="main-footer">
    <a href="contact.html" class="mail-link"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <!-- header-social-->
    <div class="footer-social">
        <ul >
            <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
        </ul>
    </div>
    <!-- header-social end-->           
    <div class="copyright">&#169; Cooper 2017 .  All rights reserved.</div>
</footer>