<div class="form-group">
  <label class="col-lg-3 col-sm-3 control-label"><%= current_object.class.human_attribute_name(key) %></label>
  <div class="col-lg-9">
    <input accept="image/*" type="file" class="form-control dropify" name="<%= current_object.params_key %>[<%= key %>]" data-max-file-size="3M"  data-default-file="<%= current_object.send(key) %>" data-show-errors="true" data-errors-position="outside" data-show-remove="false" > 
  </div>  
</div>