<div class="btn-group dropup">
  <button class="btn btn-white btn-xs" type="button"><%= model_class.human_attribute_name(current_object.status) %></button>
  <button data-toggle="dropdown" class="btn btn-white btn-xs dropdown-toggle" type="button" aria-expanded="false"><span class="caret"></span></button>
  <ul role="menu" class="dropdown-menu">
    <% current_object.aasm.events(:permitted => true).map(&:name).each do |event| %>    
    <li>
      <%= link_to(url_for(action: "event", id: current_object.id, event: event , format: :js),remote: true, method: :post) do %>
      <%= model_class.human_attribute_name(event) %>
      <% end %>              
    </li>
    <% end %>
  </ul>
</div>     
