<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= display_meta_tags %>
    <%= stylesheet_link_tag 'home' %>
    <%= javascript_include_tag 'home' %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="/plugins/html5shiv.js"></script>
    <script src="/plugins/respond.min.js"></script>
    <![endif]-->


  </head>

  <body style="font-family: '微軟正黑體'!important" >

  </body>
</html>